@use "../partials/colors" as c;
@use '../partials/mixins';


form {
  @include mixins.flex(column, center, flex-start);
  gap: 20px;
  height: 60vh;
  background-color: c.$green-dark;
  padding-left: 60px;
  .form__header__text {
    font-family: "Rammetto One", sans-serif;
    color: white;
    font-size: 2.2em;
  }
  .form__body {
    color: white;
    font-size: 1.1em;
    width: 60%;
    &__input {
        width: 80%;
        height: 2vh;
        margin-bottom: 15px;
        font-size: 1em;
        &-required {
            padding-left: 10px;
            color: c.$pink;
            font-size: 0.8em;
        }
        &-lg {
            height: 8vh;
            width: 80%;
        }
    }
    .form__submit {
        height: 30px;
        width: 150px;
        font-size: 1em;
    } 
  }
}
