@use "../partials/colors" as c;
@use "../partials/mixins";

.footer {
  @include mixins.flex(row, space-between, center);
  height: 6vh;
  padding: 0px 60px;
  background-color: c.$green-light;
  color: white;
  &__copyright {
    @include mixins.flex();
    gap: 0.4em;
    .logo {
      padding-bottom: 0.5em;
      transform: scaleX(-1);
    }
  }
}
