@use "../partials/colors" as c;
@use "../partials/media-queries" as q;
@use "../partials/mixins";

.hero-page {
  @include mixins.flex(column, center, start);
  width: 100%;
  color: white;
  @include q.tablet {
    @include mixins.flex(column, center, start);
    width: 100%;
  }
  @include q.large-tablet {
    @include mixins.flex(row, center, center);
    height: 42vh;
  }

  .hero-page-text {
    @include mixins.flex(column, center, start);
    width: 86%;
    height: 42vh;
    padding-left: 60px;
    background-color: c.$green-dark;
    @include q.tablet {
      @include mixins.flex(column, center, start);
      width: 90%;
      padding-left: 60px;
    }
    @include q.large-tablet {
      @include mixins.flex(column, center, start);
      width: 50%;
      padding-left: 60px;
    }
    .hero-page-heading {
      font-family: "Rammetto One", sans-serif;
      font-size: 2.2em;
      padding: 0px;
    }
    .hero-page-description {
      padding: 0px;
      margin-bottom: 20px;
    }
    .hero-btn-reviews {
      border: 2px solid white;
      font-weight: 600;
      padding: 10px 30px;
    }
    a {
      text-decoration: none;
      color: white;
      :visited {
        color: white;
      }
    }
  }
  .hero-page-image {
    width: 100%;
    margin-top: 5px;
    @include q.large-tablet {
      width: 50%;
      margin-top: 5px;
    }
    & img {
      height: 42vh;
      width: 100%;
      object-fit: cover;
    }
  }
}
