@use "../partials/colors" as c;
@use "../partials/mixins";

.navbar {
    @include mixins.flex(row, space-between, center);
    height: 6vh;
    padding: 0px 60px;
    .logo {
      transform: scaleX(-1);
    }
    &__links {
      padding-right: 10px;
      @include mixins.flex();
      gap: 3em;
      a {
        color: c.$black;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }