body {
  height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
@media screen and (min-width: 577px) {
  body {
    width: 700px;
  }
}
@media screen and (min-width: 769px) {
  body {
    width: 700px;
  }
}
@media screen and (min-width: 1025px) {
  body {
    width: 1010px;
  }
}
@media screen and (min-width: 1081px) {
  body {
    width: 1010px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 0px 60px;
}
header .logo {
  width: 30px;
  height: 30px;
}
header nav {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
header nav a {
  color: #404040;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
header nav a:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 1025px) {
  header nav a {
    color: red;
  }
}

.hero-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
  color: white;
}
.hero-page .hero-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  height: 30vh;
  padding-left: 60px;
  background-color: #689572;
}
.hero-page .hero-page-text .hero-page-heading {
  font-family: "Rammetto One", sans-serif;
  font-size: 2em;
  padding: 0px;
}
.hero-page .hero-page-text .hero-page-description {
  padding: 0px;
  margin-bottom: 20px;
}
.hero-page .hero-page-text .hero-btn-reviews {
  border: 2px solid white;
  font-weight: 600;
  padding: 10px 30px;
}
.hero-page .hero-page-text a {
  text-decoration: none;
  color: white;
}
.hero-page .hero-page-text a :visited {
  color: white;
}
.hero-page .hero-page-image {
  background-color: #689572;
  width: 50%;
  height: 30vh;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  /* header of the dropdown list */
  /* dropdown list + header - outer body */
}
.menu h2 {
  font-family: "Rammetto One", sans-serif;
  font-size: 2.4em;
  margin: 0;
  color: #faa196;
}
.menu section {
  width: 100%;
  padding: 10px 0px;
}
.menu summary {
  background-color: #ebc9c4;
  width: 100%;
  font-weight: bold;
  padding: 10px 0px;
}
.menu details {
  background-color: white;
}
.menu details div {
  background-color: white;
  padding-top: 10px;
  margin: 0px;
}
.menu details .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.menu details article {
  background-color: #ebc9c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 16px;
}
.menu details article img {
  width: 250px;
  height: auto;
}
.menu details article .warnings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  gap: 10px;
  background-color: #ebc9c4;
}
.menu details article .contains {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  background-color: #ebc9c4;
}
.menu details article .contains h3 {
  font-size: 1.3em;
  padding: 0px;
}
.menu details article .contains .icon {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  background-color: #faa196;
}
.reviews h2 {
  font-family: "Rammetto One", sans-serif;
  font-size: 2.4em;
  margin: 0;
  color: white;
}
.reviews .review-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  font-size: 0.8em;
}
@media screen and (min-width: 769px) {
  .reviews .review-cards {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 1025px) {
  .reviews .review-cards {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 1081px) {
  .reviews .review-cards {
    font-size: 1em;
  }
}
.reviews .review-cards article {
  border: 2px solid white;
  width: 80%;
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1025px) {
  .reviews .review-cards article {
    width: 42%;
  }
}
.reviews .review-cards article .review-text-container {
  display: flex;
  flex-direction: rov;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;
}
.reviews .review-cards article .review-text-container :first-child {
  align-self: flex-start;
}
.reviews .review-cards article .review-text-container :last-child {
  align-self: flex-end;
}
.reviews .review-cards article img {
  height: 20px;
}
.reviews .review-cards article .review-text {
  font-style: italic;
  font-weight: bold;
  margin: 0px;
}
.reviews .review-cards article .review-ownership {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 0px 60px;
  background-color: #82a289;
  color: white;
  border: 1px solid red;
}
footer .footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4em;
}
footer .footer-logo img {
  padding-bottom: 0.5em;
}

/*# sourceMappingURL=style.css.map */
