
@use "./SCSS/partials/colors" as c;
@use "./SCSS/partials/media-queries" as q;
@use "./SCSS/sections/navbar.scss";
@use "./SCSS/sections/hero.scss";
@use "./SCSS/sections/menu.scss";
@use "./SCSS/sections/reviews.scss";
@use "./SCSS/sections/footer.scss";
@use "./SCSS/sections/contact.scss";
@use "./SCSS/partials/mixins";


body {
  margin: auto;
  height: 100vh;
  max-width: 80%;
  font-family: "Open Sans", sans-serif;

  @include q.tablet {
    width: 100vh;
    max-width: 80%;
  }
  @include q.large-tablet {
    width: 700px;
    max-width: 100%;
  }
  @include q.laptop {
    width: 1010px;
    max-width: 90%;
  }
  @include q.desktop {
    width: 1010px;
    max-width: 80%;
  }
}





