@mixin full-screen {
  height: 100vh;
  width: 100%;
}

@mixin content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin colors($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}

@mixin flex($direction: row, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin bg-with-overlay($bg-url) {
  position: relative;
  //background-image: url('../../assets/forest.jpg');
  background-image: url($bg-url);
  background-size: cover;
  background-position: center;
  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
    height: 100%;
    width: 100%;
  }
}
